@(currentPage: com.avaje.ebean.Page[models.users.Child], currentSortBy: String, currentOrder: String, currentFilter: String, playground: models.playground.Playground)

@import models.day._
@import models.users._

@main(MyMessages.get("today")){

	<h1>@MyMessages.get("children.on.playground") : <span id="childrenOnPlayground">@Child.childrenOnPlayground(playground.id).size()</span></h1>
	<hr>
	@views.html.today.todayList(currentPage,currentSortBy,currentOrder,currentFilter)
	
	@if(PlaygroundDay.exists(playground.id)){
	
		@views.html.day.formulaDay.list(PlaygroundDay.findbyPlayground(playground.id).formulaDays)
	}
	
	
}