@(title: String)(content: Html)

<!DOCTYPE html>

<html>

@views.html.main.head(title)

<body>
	<div id="wrap">
		<!-- necessary for sticky footer. wrap all content except footer -->

		<!-- main navigation bar -->
		@views.html.main.navbar()

		<div class="container">

			<h1>Bootstrap starter template</h1>
			<p>
				Use this document as a way to quick start any new project.<br>
				All you get is this message and a barebones HTML document.
			</p>

		</div>
		<!-- /container -->

		<!-- Le javascript
    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->


		<!-- necessary for sticky footer -->
		<div id="push"></div>
	</div><!-- wrap ends here -->
	
	<!-- footer -->
	@views.html.main.footer()
</body>
</html>
