@(title: String)(content: Html)

<!DOCTYPE html>

<html>

@views.html.main.head(title)

<body>
	<div id="wrap">
		<!-- necessary for sticky footer. wrap all content except footer -->

		<!-- main navigation bar -->
		@views.html.main.navbar()

		<div class="container">
		
		<!-- Sidebar -->
				@views.html.subnav()

			@content

		</div>
		<!-- /container -->


		<!-- necessary for sticky footer -->
		<div id="push"></div>
	</div><!-- wrap ends here -->
	
	<!-- footer -->
	@views.html.main.footer()
	
	@views.html.main.scriptsAfter()
	<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
</body>
</html>
