@import conf._

<!-- Navigation bar -->
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
		
			<!-- Responsive navigation bar -->
			<button type="button" class="btn btn-navbar" data-toggle="collapse"	data-target=".nav-collapse">
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span>
			</button>
			
			<!-- brand name or project name -->
			<a class="brand" href="@routes.Application.index()">PlayGround</a>
			
			<div class="nav-collapse collapse">
				<!--navigation goes here--> 				
				<ul class="nav">
					<li class="active"><a href="@routes.Application.index()">@MyMessages.get("home")</a></li>
				</ul>		
				
				<!-- Login and Profile -->	
				<ul class="nav pull-right">
				
					<!-- Profile -->
	    			<li class="pull-right">
			    		@if(session.containsKey("id")){   		
			    			<a href=""><i class="icon-user icon-white"></i>
			    			 @session.get("id")</a>
			    		}
	    			</li>
	    			
	    			<!-- Login or Logout -->
	    			<li class="pull-right">
			    		@if(session.containsKey("id")){   		
			    			<a href="@routes.Application.logout()"><i class="icon-off icon-white"></i> @MyMessages.get("logout")</a>
			    			
			    		}else{
			    			<a href="@routes.Application.login()"><i class="icon-off icon-white"></i> @MyMessages.get("login")</a>
			    		}
	    			</li>
	    			
	    		</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div>