<!-- Le styles -->
    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" media="screen">	
	<link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet" media="screen">  
	<link href="@routes.Assets.at("font-awesome/css/font-awesome.css")" rel="stylesheet" media="screen">
    <link href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")" rel="stylesheet" media="screen">    
    <link href="@routes.Assets.at("stylesheets/bootstrap-rowlink.css")" rel="stylesheet" media="screen">
    <link href="@routes.Assets.at("stylesheets/bootstrap-datatable.css")" rel="stylesheet" media="screen">
    

        
    
