@(child : models.users.Child)

@import models.users._

@main(BasicUser.getName(child.id)) {

  @flashConfirm(MyMessages.get("edit.fail"), MyMessages.get("edit.success"))

  @if(child.playground.sessionCard != null) {
    <div class="well">
      <h2>@MyMessages.get("sessionCard.management")</h2>
      <h3><strong>@MyMessages.get("number.of.sessions") : @child.numberOfSessions</strong></h3>
      <p>
        @actions {

          <a href="@routes.ChildController.increaseSessionCard(child.id)" class="btn btn-success">@MyMessages.get("Verhoog")</a>
          <a href="@routes.ChildController.decreaseSessionCard(child.id)" class="btn btn-danger">@MyMessages.get("Verlaag")</a>

        }
        @MyMessages.get("sessionCard.info")
      </p>
      <p>
        @sessionCardModal(MyMessages.get("Nieuwe Speelpas"), "sessionCardModal", MyMessages.get("Nieuwe Speelpas")) {
          @views.html.scribein.sessionCardForm(child)
        }

        @sessionCardModal(MyMessages.get("Reset speelpas"), "resetSessionCardModal", MyMessages.get("Reset speelpas")) {
          @views.html.scribein.resetSessionCardForm(child)
        }
      </p>

    </div>
  }

}