@(playgroundForm: Form[models.playground.forms.PlaygroundForm])
_
@import helper._
@import helper.twitterBootstrap._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@helper.form(routes.PlaygroundController.registerPlayground()) {

<fieldset>

	@inputText(
		playgroundForm("name"), 
		'_label -> MyMessages.get("name"),
		'_help -> MyMessages.get("name.help")
	)
	
	@inputText(
		playgroundForm("city"), 
		'_label -> MyMessages.get("city"),
		'_help -> MyMessages.get("city.help")
	)
	
	@inputText(
		playgroundForm("street"), 
		'_label -> MyMessages.get("street"),
		'_help -> MyMessages.get("street.help")
	)
	
	@inputText(
		playgroundForm("number"), 
		'_label -> MyMessages.get("number"),
		'_help -> MyMessages.get("number.help")
	)
	
	@inputText(
		playgroundForm("zipCode"), 
		'_label -> MyMessages.get("zipCode"),
		'_help -> MyMessages.get("zipCode.help")
	)

</fieldset>

}

