@(user: models.users.User)(userForm: Form[models.users.forms.UserForm])

@main(MyMessages.get("profile")){
	
	@flashConfirm(MyMessages.get("edit.fail"), MyMessages.get("edit.success"))
	
	<!-- display user information -->
	<table class="table table-bordered table-striped">
		<tr>
			<td>@MyMessages.get("username")</td>
			<td>@user.id</td>
		</tr>
		<tr>
			<td>@MyMessages.get("firstName")</td>
			<td>@user.firstName</td>
		</tr>
		<tr>
			<td>@MyMessages.get("lastName")</td>
			<td>@user.lastName</td>
		</tr>

	</table>
	
	<div class="actions">
			@modalForm(MyMessages.get("edit"), "userModal", MyMessages.get("edit")) {
				@views.html.users.editForm(userForm)
			}
	</div>
}