@(user: models.users.BasicUser)(userForm: Form[models.users.forms.UserForm])

@main(MyMessages.get("profile")){
	
	@flashConfirm(MyMessages.get("edit.fail"), MyMessages.get("edit.success"))
	
	<h1>@MyMessages.get("profile")</h1>
	
	<!-- display user information -->
	<table class="table table-bordered table-striped">
		<tr>
			<td><strong>@MyMessages.get("username")</strong></td>
			<td>@user.id</td>
		</tr>
		<tr>
			<td><strong>@MyMessages.get("firstName")</strong></td>
			<td>@user.firstName</td>
		</tr>
		<tr>
			<td><strong>@MyMessages.get("lastName")</strong></td>
			<td>@user.lastName</td>
		</tr>
		
		<tr>
			<td><strong>@MyMessages.get("gender")</strong></td>
			<td>@user.gender</td>
		</tr>
		<tr>
			<td><strong>@MyMessages.get("phone")</strong></td>
			<td>@user.phone</td>
		</tr>
		<tr>
			<td><strong>@MyMessages.get("dateOfBirth")</strong></td>
			<td>@user.getDateOfBirthAsString()</td>
		</tr>

	</table>
	<br>
	@actions{
			@modalForm(MyMessages.get("edit"), "userModal", MyMessages.get("edit")) {
				@views.html.users.editForm(userForm)
			}
	}
}