@main(MyMessages.get("about")) {
	
	<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="hero-unit">
  		<h1>Inschrijvingsapplicatie voor speelpleinen</h1>
  		<br>
  		<h2>Ontstaan</h2>
	  	<p>In mei 2013 werd mij gevraagd om een inschrijvingsapplicatie te ontwikkelen voor speelplein Zoeber Hooglede (www.zoeber.be).
	  	Deze werd tot de nacht voor het begin van de zomervakantie afgewerkt en met een aantal updates geoptimaliseerd.</p>
	  	<br>
	  	<h2>Functionaliteit</h2>
  		
	  	<p>Met deze applicatie kan een bestuurslid van een speelplein zich aanmelden en animatoren toevoegen. 1 van deze kan op zijn beurt verheven 
	  	worden tot de functie van administratie. Dit wil zeggen dat deze animator de dagdagelijkse inschrijving en uitschrijving van kinderen verzorgt.
	  	</p>
	  	<br>
	  	<h3>Dagelijkse inschrijving en uitschrijving</h3>
  		
	  	<p>Een organisator van een speelplein kan voor zijn speelplein een aantal formules aanmaken, bijvoorbeeld: middagmaal ter waarde van 3.00 euro. 
	  	Nu kan diegene die het recht tot administratie bezit, een kind dit aankomt bij het speelplein inschrijven en formules daar aan toekennen. 
	  	Het kind heeft dan het status aanwezig op het plein en dit is ook letterlijk zo. Maar daarnaast heeft het bijvoorbeeld ook de formule middagmaal.
	  	Waardoor dus geweten is welke kinderen een middagmaal hoeven.</p>
	  	<br>
	  	<p>Een organisator kan voor zijn speelplein ook een aantal rollen aanmaken voor een kind op basis van leeftijd. Zo kan je een kind indelen in 1 of meedere groepen. Na de aanmaak van een groep, wordt deze automatisch toegekend aan het kind.</p>
	  	<br>
	  	<h3>Inschrijving voor activiteiten</h3>
  		
	  	<p>Een speelplein houdt natuurlijk regelmatig een activiteit die buitenshuis plaats vindt. Daarom kan een organisator activiteiten aanmaken met begin- en einddatum en een maximaal toegestaan aantal kinderen alsook de kost. 
	  	De persoon van de administratie kan op zijn beurt een kind hiervoor inschrijven.</p>
	  	<br>
	  	<h3>Betaling</h3>
  		
	  	<p>Na het inschrijven van een kind worden de te betalen bedragen toegevoegd aan het kind. Dit kan nu of later betaald worden. Ook de kost van een activiteit wordt hieraan toegevoegd.
	  	 Dit om een perfect overzicht te kunnen behouden welk kind wat nog moet betalen.</p>
	  	<br> 
	  	<h3>Historiek</h3>
  		
	  	<p>Op basis van de verzameling van bovenstaande gegevens wordt een historiek voorzien, die per dag bijhoudt hoeveel en welke kinderen er aanwezig waren en wie welke formules heeft gebruikt. Ook de omzet van de dag wordt zo berekend.</p>
	  	<br>
	  	<h3>Vandaag</h3>
  		
	  	<p>Elke organisator kan ook op zijn beurt een overzicht zien van de aanwezige kinderen op dit eigenste moment op zijn speelplein.</p>
	  	<br>
	  	
	  	
	</div>


}