@main(MyMessages.get("contact")) {
<h1>Contactinformatie</h1>
<p><a href="mailto:bartel.debrabandere@@ugent.be"><i class="icon-envelope icon-2x"></i> </a>&nbsp; 
<a href="https://www.facebook.com/bartel.debrabandere" target="_blank"><i class="icon-facebook icon-2x"></i> </a>&nbsp;
<a href="http://be.linkedin.com/pub/bartel-de-brabandere/77/788/110/" target="_blank"><i class="icon-linkedin icon-2x"></i> </a>&nbsp; 
<a href="https://twitter.com/bgdbraba" target="_blank"><i class="icon-twitter icon-2x"></i> </a>&nbsp;</p>

	  	
}