@(animator: models.users.Animator)(animatorForm: Form[models.users.forms.AnimatorForm])

@import models.users._

@main(BasicUser.getName(animator.id)) {

	@flashConfirm(MyMessages.get("edit.fail"), MyMessages.get("edit.success"))
			
	<h1>@animator.lastName, @animator.firstName</h1>
			
	@detailslist{
			@views.html.users.details(BasicUser.getUser(animator.id))				
			@views.html.users.addressDetails(animator.address)
			
			<dt>@MyMessages.get("accountNumber")</dt>
			<dd>@animator.accountNumber<dd>
			
			<dt>@MyMessages.get("hasFollowedCourse")</dt>
			<dd>@MyMessages.get(animator.hasFollowedCourse.toString())<dd>
			
			<dt>@MyMessages.get("administration")</dt>
			<dd>@MyMessages.get(animator.administration.toString())<dd>
	}
	
	@actions{
		
		@modalForm(MyMessages.get("edit"), "animatorModal", MyMessages.get("edit")) {
			@editForm(animatorForm, animator.id)
		}

		<a href="@routes.AnimatorController.removeAnimator(animator.id)" class="btn btn-danger">@MyMessages.get("remove")</a>
		
		@if(animator.administration){
			<a href="@routes.AnimatorController.takeAwayAdministration(animator.id)" class="btn btn-danger">@MyMessages.get("take.away.administration")</a>
		}else{
			@modalForm(MyMessages.get("give.administration"), "administrationModal", MyMessages.get("give.administration")) {
				@views.html.users.animator.administrationForm(animator)
			}
		}
				
		<a href="@routes.AnimatorController.showAnimators()" class="btn">@MyMessages.get("go.back")</a>
	
	}

}


