<script type="text/javascript">
		/* Table initialisation */
		$(document).ready(function() {
			$('.datatable').dataTable( {
				"sDom": "<'row'<'span8'l><'span8'f>r>t<'row'<'span8'i><'span8'p>>",
				"sDom": 'T<"clear">lfrtip',
				"oTableTools": {
					"sSwfPath": "@routes.Assets.at("swf/copy_csv_xls_pdf.swf")",
					"aButtons": [
						{
							"sExtends":    "copy",
							"sButtonText": "Kopieer"
						},
						{
							"sExtends":    "print",
							"sButtonText": "Druk Af"
						},
						"csv",
						"pdf",
						{
							"sExtends":    "xls",
							"sFileName": "*.xls"
						}
					]
				},
				"oLanguage": {
					"sUrl": "@routes.Assets.at(conf.LanguageSettings.getDatatableURL())"
		        },
		        "sPaginationType": "bootstrap",
				"aaSorting": [[ 0, "desc"]]
			} );
		} );
</script>
