@(title: String)(content: Html)

<!DOCTYPE html>

<html>

@views.html.head(title)

<body>
	<div id="wrap">
		<!-- necessary for sticky footer. wrap all content except footer -->

		<!-- main navigation bar -->
		@views.html.navbar()

		<div class="container">
		
		<!-- Sidebar -->
				@views.html.subnav()

			@content

		</div>
		<!-- /container -->


		<!-- necessary for sticky footer -->
		<div id="push"></div>
	</div><!-- wrap ends here -->
	
	<!-- footer -->
	@views.html.footer()
	
	@views.html.scriptsAfter()
	
</body>
</html>
