@import models.users._

<!-- Navigation bar -->
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
		
			<!-- Responsive navigation bar -->
			<button type="button" class="btn btn-navbar" data-toggle="collapse"	data-target=".nav-collapse">
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span>
			</button>
			
			<!-- brand name or project name -->
			
			@views.html.brand()
			
			
			<div class="nav-collapse collapse">
			
				<!--navigation goes here--> 				
				<ul class="nav">
					<li><a href="@routes.Application.index()"><i class="icon-home icon-white"></i> @MyMessages.get("home")</a></li>
	      			<li><a href="@routes.PagesController.about()"><i class="icon-info icon-white"></i> @MyMessages.get("about")</a></li>
	      			<li><a href="@routes.PagesController.contact()"><i class="icon-envelope"></i> @MyMessages.get("contact")</a></li>
				</ul>		
				
				<!-- Login and Profile -->	
				<ul class="nav pull-right">
				
					<!-- Profile -->
	    			<li class="pull-right">
			    		@if(session.containsKey("id")){   		
			    			<a href="@routes.UserController.profile()"><i class="icon-user icon-white"></i> @User.getName(session.get("id"))</a>
			    		}
	    			</li>
	    			
	    			<!-- Login or Logout -->
	    			<li class="pull-right">
			    		@if(session.containsKey("id")){   		
			    			<a href="@routes.Application.logout()"><i class="icon-off icon-white"></i> @MyMessages.get("logout")</a>
			    			
			    		}else{
			    			<a href="@routes.Application.login()"><i class="icon-off icon-white"></i> @MyMessages.get("login")</a>
			    		}
	    			</li>
	    			
	    		</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div>