@import models.users._
@import models.users.enums._

		@if(session().get("id") != null){	
		
			@defining(BasicUser.find.byId(session.get("id"))){ user =>
			
				@if(user != null){
					@if(user.is(UserType.ADMIN)) {
							 @views.html.users.admin.subnavbar()
					}
					@if(user.is(UserType.ORGANIZER)) {
							 @views.html.users.organizer.subnavbar()
					}
					@if(user.is(UserType.ANIMATOR)) {
							 @views.html.users.animator.subnavbar()
					}
					@if(user.is(UserType.CHILD)) {
							 @views.html.users.child.subnavbar()
					}
				}
			
			
			}
		}else{
			@views.html.users.anonymous.subnavbar()
		}