@(child: models.users.Child)(childForm: Form[models.users.forms.ChildForm])(dayForm: Form[models.day.forms.DayForm])

@import models.users._

@main(BasicUser.getName(child.id)) {

	@flashConfirm(MyMessages.get("edit.fail"), MyMessages.get("edit.success"))
			
	<h1>@child.lastName, @child.firstName</h1>
	
	<!-- Example row of columns -->
    <div class="row">
        <div class="span4 well">
          <h2>@MyMessages.get("activity.management")</h2>
          <p>@MyMessages.get("activity.info")</p>
        <p>
		<a class="btn" href="@routes.ChildController.linkedActivities(child.id)">@MyMessages.get("view.activities") &raquo;</a>
		</p>
        </div>
 	</div>
	
	
	
			
	@detailslist{
			@views.html.users.details(BasicUser.getUser(child.id))				
			@views.html.users.addressDetails(child.address)
			
			<dt>@MyMessages.get("phone.work")</dt>
			<dd>@child.phoneWork<dd>
			
			<dt>@MyMessages.get("phone.alt")</dt>
			<dd>@child.phoneAlt<dd>
			
			<dt>@MyMessages.get("doctor")</dt>
			<dd>@child.doctor<dd>
			
			<dt>@MyMessages.get("remarks")</dt>
			<dd>@child.remarks<dd>
			
			<dt>@MyMessages.get("receive.mail")</dt>
			<dd>@MyMessages.get(child.receiveMail.toString())<dd>
			
			<dt>@MyMessages.get("photographable")</dt>
			<dd>@MyMessages.get(child.photographable.toString())<dd>
	}
	
	@actions{
		
		@modalForm(MyMessages.get("edit"), "childModal", MyMessages.get("edit")) {
			@editForm(childForm, child.id)
		}
		
		@if(child.active){
			<a href="@routes.ChildController.deactivate(child.id)" class="btn btn-danger">@MyMessages.get("deactivate")</a>
		}else{
			<a href="@routes.ChildController.activate(child.id)" class="btn btn-success">@MyMessages.get("activate")</a>
		}
			
		<a href="@routes.ChildController.showChildren()" class="btn">@MyMessages.get("go.back")</a>
	
	}
	<br>
	@actions{
		@if(!child.onPlayground){
			<a href="@routes.ChildController.scribeInPage(child.id)" class="btn btn-inverse btn-large">@MyMessages.get("scribe.in")</a>	
		}else{
			<a href="@routes.ChildController.scribeOut(child.id)" class="btn btn-inverse btn-large">@MyMessages.get("scribe.out")</a>
		}
	}

}