@(child: models.users.Child)(childForm: Form[models.users.forms.ChildForm])(dayForm: Form[models.day.forms.DayForm])

@import models.users._

@main(BasicUser.getName(child.id)) {

	@flashConfirm(MyMessages.get("edit.fail"), MyMessages.get("edit.success"))
			
	<h1>@child.lastName, @child.firstName</h1>
			
	@detailslist{
			@views.html.users.details(BasicUser.getUser(child.id))				
			@views.html.users.addressDetails(child.address)
	}
	
	@actions{
		
		@modalForm(MyMessages.get("edit"), "childModal", MyMessages.get("edit")) {
			@editForm(childForm, child.id)
		}
		
		@if(child.active){
			<a href="@routes.ChildController.deactivate(child.id)" class="btn btn-danger">@MyMessages.get("deactivate")</a>
		}else{
			<a href="@routes.ChildController.activate(child.id)" class="btn btn-success">@MyMessages.get("activate")</a>
		}
			
		<a href="@routes.ChildController.showChildren()" class="btn">@MyMessages.get("go.back")</a>
	
	}
	<br>
	@actions{
		@if(!child.onPlayground){
			<a href="@routes.ChildController.scribeInPage(child.id)" class="btn btn-inverse btn-large">@MyMessages.get("scribe.in")</a>	
		}else{
			<a href="@routes.ChildController.scribeOut(child.id)" class="btn btn-inverse btn-large">@MyMessages.get("scribe.out")</a>
		}
	}

}