@(child: models.users.Child)(childForm: Form[models.users.forms.ChildForm])(dayForm: Form[models.day.forms.DayForm])

@import models.users._
@import models.day._
@import models.playground._

@main(BasicUser.getName(child.id)) {

	@flashConfirm(MyMessages.get("edit.fail"), MyMessages.get("edit.success"))
			
	<h1>@child.lastName, @child.firstName 
			@if(Role.getRoleForChild(child.id)!=null){ 
			
				: @Role.getRoleForChild(child.id).name 
			}	
	</h1>
	
	<!-- Example row of columns -->
   
        @if(child.playground.sessionCard != null){
	        <div class="well">
	        	<h2>@MyMessages.get("sessionCard.management")</h2>
	    		<h3><strong>@MyMessages.get("number.of.sessions") : @child.numberOfSessions</strong></h3>
	    		<p>
	    			@actions{
	    			
	    			<a href="@routes.ChildController.increaseSessionCard(child.id)" class="btn btn-success">@MyMessages.get("Verhoog")</a>
	    			<a href="@routes.ChildController.decreaseSessionCard(child.id)" class="btn btn-danger">@MyMessages.get("Verlaag")</a>
	    			
	    			}
                    @MyMessages.get("sessionCard.info")
	    		</p>
	        <p>
	        @sessionCardModal(MyMessages.get("Nieuwe Speelpas"), "sessionCardModal", MyMessages.get("Nieuwe Speelpas")) {
				@sessionCardForm(child)
			}	
			
	        @sessionCardModal(MyMessages.get("Reset speelpas"), "resetSessionCardModal", MyMessages.get("Reset speelpas")) {
				@resetSessionCardForm(child)
			}		
			</p>
			
	        </div>
        }
        
        <div class="well">
        	<h2>@MyMessages.get("scribe.in")</h2>
    		<p>@MyMessages.get("scribe.in.info")</p>
        <p>
		@actions{
			@if(!child.onPlayground){
				@scribeInModal(MyMessages.get("scribe.in"), "scribeInModal", MyMessages.get("scribe.in")) {
					@scribeInForm(dayForm, child)
				}	
			}else{
				<a href="@routes.ChildController.scribeOut(child.id)" class="btn btn-inverse btn-large">@MyMessages.get("scribe.out")</a>
			}
		}
		</p>
        </div>
        
        <div class="well">
        	<h2>@MyMessages.get("pay.management")</h2>
    		<h3><strong>&euro; @child.notPayed</strong></h3>
        <p>
		@payModal(MyMessages.get("pay"), "payModal", MyMessages.get("pay")) {
			@payForm(child)
		}
		</p>
        </div>
        
        
        
		<div class="well">
          <h2>@MyMessages.get("activity.management")</h2>
          <p>@MyMessages.get("activity.info")</p>
        <p>
		<a class="btn btn-large btn-info" href="@routes.ChildController.linkedActivities(child.id)">@MyMessages.get("view.activities") &raquo;</a>
		</p>
        </div>

    <div class="well">
        <h2>@MyMessages.get("total.payed.this.year")</h2>
        <p>
            <h3><strong>&euro; @Child.totalPayed(child.id)</strong></h3>
        </p>
    </div>
	
	
	
			
	@detailslist{
			@views.html.users.details(BasicUser.getUser(child.id))				
			@views.html.users.addressDetails(child.address)
			
			<dt>@MyMessages.get("phone.work")</dt>
			<dd>@child.phoneWork &nbsp;</dd>
			
			<dt>@MyMessages.get("phone.alt")</dt>
			<dd>@child.phoneAlt &nbsp;</dd>
			
			<dt>@MyMessages.get("doctor")</dt>
			<dd>@child.doctor &nbsp;</dd>
			
			<dt>@MyMessages.get("remarks")</dt>
			<dd>@child.remarks &nbsp;</dd>
			
			<dt>@MyMessages.get("receive.mail")</dt>
			<dd>@MyMessages.get(child.receiveMail.toString()) &nbsp;</dd>
			
			<dt>@MyMessages.get("photographable")</dt>
			<dd>@MyMessages.get(child.photographable.toString()) &nbsp;</dd>
	}
	
	@actions{
		
		@modalForm(MyMessages.get("edit"), "childModal", MyMessages.get("edit")) {
			@editForm(childForm, child.id)
		}
		
		
		
		@if(child.active){
			<a href="@routes.ChildController.deactivate(child.id)" class="btn btn-danger">@MyMessages.get("deactivate")</a>
		}else{
			<a href="@routes.ChildController.activate(child.id)" class="btn btn-success">@MyMessages.get("activate")</a>
		}
			
		<a href="@routes.ChildController.showChildren()" class="btn">@MyMessages.get("go.back")</a>
	
	}
	<br>
	<hr>
	
	<h1>@MyMessages.get("child.days")</h1>
	@views.html.day.childDay.list(ChildDay.getChildDaysForChild(child.id))

}