@(child: models.users.Child)

@import models.playground._

<tr>
	<td><a href="@routes.ChildController.showDetails(child.id)">
	@if(child.onPlayground){
		<span class="badge badge-success">@child.id</span>
	}else{
		<span class="badge">@child.id</span>
	}
	</a></td>
	<td>@child.firstName</td>
	<td>@child.lastName</td>
	<td>@child.address.getAddress()</td>
	<td>
	@if(Role.getRolesForPlayground(child.playground.id).size()>0){
		@if(Role.getRoleForChild(child.id)==null){
			@MyMessages.get("no.group.available")
		}else{
			@for(role <- Role.getRolesForChild(child.id)){
				@role.name
        }
		}
	}	
	</td>
    <td>@child.getDateOfBirthAsString()</td>
	<td>
	@child.days.size()
	</td>
	<td>
	@models.users.Child.totalPayed(child.id)
	</td>
</tr>