@(dayForm: Form[models.day.forms.DayForm],child: models.users.Child) 

@import models.playground._
@import helper._
@implicitField = @{ FieldConstructor(twitterBootstrapInput.f) }

@form(routes.ChildController.scribeIn(child.id)) {

	@for(formula <- child.playground.formulas){
		<label class="checkbox">
			<input type='checkbox' name='formula' value="@formula.id"> @formula.toString() 
		</label>
	}
	
	<br>
	@actions{
			<input class="btn btn-primary" type="submit" value="@MyMessages.get("go.forth")" id="submit" />
			<a href="#" class="btn" >@MyMessages.get("go.back")</a>
	}
	
}
