@(currentPage: com.avaje.ebean.Page[models.users.Child], currentSortBy: String, currentOrder: String, currentFilter: String, dayForm: Form[models.day.forms.DayForm])(childForm: Form[models.users.forms.ChildForm])

@main(MyMessages.get("child.management")) {
	
	@flashConfirm(MyMessages.get("fail"),MyMessages.get("success"))
	
	<h1>@MyMessages.get("child.management")</h1>
	<hr>
	@list2(currentPage,currentSortBy,currentOrder,currentFilter, dayForm)
	<hr>
	@actions{
		@modalForm(MyMessages.get("children.add"), "childModal", MyMessages.get("children.add")) {
			@addForm(childForm)
		}
	}
}
