@(organizerId: String, linkForm: Form[models.playground.forms.LinkPlaygroundForm])

@import conf._
@import helper._
@import helper.twitterBootstrap._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@form(routes.OrganizerController.linkPlaygroundToOrganizer(organizerId)) {

<fieldset>

	@select(
		linkForm("playgroundId"), 
		options(models.playground.Playground.options()), 
		'_label -> MyMessages.get("choose.playground"),
		'_default -> MyMessages.get("choose.playground")
	)

</fieldset>
}